*.sql
*.jar
*.csv
*.json
*.txt
*.log
*.out
*.err
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.xlsx
*.xls

# Output directory
output/ 
!output/.gitkeep

# maven files   
target/
target/*.*
target/*.*.*
target/*.*.*.*
target/*.*.*.*.*
target/*.*.*.*.*.*
target/*.*.*.*.*.*.*
target/*.*.*.*.*.*.*.*
target/*.*.*.*.*.*.*.*.*
target/*.*.*.*.*.*.*.*.*.*
target/classes/


# IDE files
.idea/
.vscode/
.cursorignore

# Python files
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
# Java files
*.class
*.jar
*.war
